h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

body {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Trade Gothic W01 Light', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300; }
  body #container .profile {
    background: #fff;
    padding: 20px 10px 10px;
    color: #444444; }
    body #container .profile .selfie {
      max-width: 70%;
      margin: auto auto;
      text-align: center; }
      body #container .profile .selfie img {
        max-width: 100%;
        box-shadow: 0 0 5px 0 #444444; }
    body #container .profile .passport {
      text-align: center;
      margin-top: 0px; }
      body #container .profile .passport .name {
        font-size: 25px; }
      body #container .profile .passport .subtext {
        color: #515151;
        font-size: 15px; }
        body #container .profile .passport .subtext .tinytext {
          padding-top: 5px; }
      body #container .profile .passport .social {
        margin-top: 10px;
        font-size: 35px; }
        body #container .profile .passport .social i {
          color: #6a6a6a; }
        body #container .profile .passport .social a, body #container .profile .passport .social a:visited {
          text-decoration: none;
          margin: 0 10px; }
  body #content {
    padding: 20px 20px; }
    body #content .posts h2 {
      border-bottom: thin solid #c4c4c4;
      padding-bottom: 15px;
      margin-bottom: 10px; }
    body #content .posts .post {
      font-size: 18px;
      padding: 15px 0; }

.tinytext {
  font-size: 12px; }
