$textcolor: #444;
$textcolorlight: lighten($textcolor, 20);
$headercolor: darken($textcolor, 10); 

@import '_base';
@import '_profile';





@media only screen and (min-width: 481px) {
    @import '_up_480px';
}
@media only screen and (min-width: 561px) {
    @import '_up_560px';
}
@media only screen and (min-width: 781px) {
    @import '_up_780px';
}

