<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- semantic CSS -->
    <link rel="stylesheet" href="/css/semantic.min.css">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div id="container">
    <div class="profile{%if page.profile == 'bigpic'%} bigpic{%endif%}">
        <div class="selfie">
            <a href="/"><img src="https://2.gravatar.com/avatar/7a9c124355799a0f32fd22c1a46d0fb7?d=https%3A%2F%2Fidenticons.github.com%2Fdbc04841538ba5be0e1da58be792a4cf.png&s=420" /></a>
        </div>
        <div class="passport">
            <div class="name">
                Dario Magliocchetti
            </div>
            <div class="subtext">
                Final Year @ Imperial College London<br />
                Maker of things, doer of stuff
                <div class="tinytext">(And that's me from a while back up there)</div>
            </div>
            <div class="social">
                <a href="https://github.com/darioml"><i class="icon-github-sign"></i></a><a href="https://twitter.com/darioaml"><i class="icon-twitter-sign"></i></a><a href="http://uk.linkedin.com/in/darioml/"><i class="icon-linkedin-sign"></i></a>
            </div>
        </div>
        <br style="clear: both"/>
    </div>
    <div id="content">
        {{content}}

        {%if page.profile != 'bigpic'%}
        <div class="footer mobile-only">Follow me <a href="https://twitter.com/darioaml">@darioaml</a></div>
        {%endif%}
    </div>
</div>

</body>
</html>
